{
  "swagger": "2.0",
  "info": {
    "title": "Vortex API reference",
    "description": "Vortex API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/nightblue-io/vortex-proto).\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "alpha"
  },
  "tags": [
    {
      "name": "Vortex",
      "description": "(ALPHA) Vortex API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/vortex/v1"
      }
    },
    {
      "name": "Iam",
      "description": "(ALPHA) IAM API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/iam/v1"
      }
    }
  ],
  "host": "api.nightblue.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vortex/iam/v0/whoami": {
      "get": {
        "summary": "Testing endpoint.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1WhoAmIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Iam"
        ]
      }
    },
    "/vortex/v0/info": {
      "get": {
        "summary": "Testing endpoint.",
        "operationId": "Vortex_GetInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Vortex"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "typeUrl": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1GetInfoResponse": {
      "type": "object",
      "properties": {
        "info": {
          "type": "string"
        }
      },
      "description": "Request message for the GetInfo rpc."
    },
    "v1WhoAmIResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "description": "Request message for the WhoAmI rpc."
    }
  }
}
