{
  "swagger": "2.0",
  "info": {
    "title": "Vortex API reference",
    "description": "Vortex API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/nightblue-io/vortex-proto).\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "alpha"
  },
  "tags": [
    {
      "name": "Vortex",
      "description": "(ALPHA) Vortex API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/vortex/v1"
      }
    },
    {
      "name": "Iam",
      "description": "(ALPHA) IAM API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/iam/v1"
      }
    },
    {
      "name": "Operations",
      "description": "(ALPHA) Operations API. Base URL: https://api.nightblue.io",
      "externalDocs": {
        "description": "See here for the service definition.",
        "url": "https://github.com/nightblue-io/vortex-proto/tree/main/operations/v1"
      }
    }
  ],
  "host": "api.nightblue.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vortex/iam/v1/login": {
      "post": {
        "summary": "Create an account for the Vortex Platform.",
        "operationId": "Iam_Login",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1LoginResponse"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v1LoginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1LoginRequest"
            }
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/vortex/iam/v1/whoami": {
      "get": {
        "summary": "Testing endpoint.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1WhoAmIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Iam"
        ]
      }
    },
    "/vortex/ops/v1": {
      "get": {
        "summary": "List long-running operations.",
        "operationId": "Operations_ListOperations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "nextToken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/vortex/ops/v1/{name}": {
      "get": {
        "summary": "Get a long-running operation.",
        "operationId": "Operations_GetOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vortexprototypesOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      },
      "delete": {
        "summary": "Delete a long-running operation.",
        "operationId": "Operations_DeleteOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/vortex/ops/v1/{name}:cancel": {
      "post": {
        "summary": "Cancel a long-running operation.",
        "operationId": "Operations_CancelOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CancelOperationRequest"
            }
          }
        ],
        "tags": [
          "Operations"
        ]
      }
    },
    "/vortex/v1/envs": {
      "get": {
        "summary": "List deployment environments.",
        "operationId": "Vortex_ListEnvironments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListEnvironmentsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Vortex"
        ]
      },
      "post": {
        "summary": "Create a deployment environment.",
        "operationId": "Vortex_CreateEnvironment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateEnvironmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateEnvironmentRequest"
            }
          }
        ],
        "tags": [
          "Vortex"
        ]
      }
    },
    "/vortex/v1/envs/{name}": {
      "get": {
        "summary": "Describe a deployment environment.",
        "operationId": "Vortex_GetEnvironment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetEnvironmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Vortex"
        ]
      },
      "delete": {
        "summary": "Delete a deployment environment.",
        "operationId": "Vortex_DeleteEnvironment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteEnvironmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Vortex"
        ]
      }
    },
    "/vortex/v1:do": {
      "post": {
        "summary": "Testing endpoint.",
        "operationId": "Vortex_Do",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DoRequest"
            }
          }
        ],
        "tags": [
          "Vortex"
        ]
      }
    }
  },
  "definitions": {
    "LoginResponseDeviceAuth": {
      "type": "object",
      "properties": {
        "userCode": {
          "type": "string"
        },
        "verificationUriComplete": {
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "typeUrl": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "typesAWSInfo": {
      "type": "object",
      "properties": {
        "roleArn": {
          "type": "string",
          "description": "Prioritized over id/secret."
        },
        "clientIdArn": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/vortexprototypesLocation"
        }
      }
    },
    "typesAzureInfo": {
      "type": "object"
    },
    "typesGCPInfo": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "format": "byte"
        },
        "location": {
          "$ref": "#/definitions/vortexprototypesLocation"
        }
      }
    },
    "v1CancelOperationRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Request message for the CancelOperation rpc."
    },
    "v1CreateEnvironmentRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "profile": {
          "type": "string",
          "description": "SC_MR_GCP\nSC_SR_GCP\nSC_MR_AWS\nSC_SR_AWS\nMC_AUTO",
          "title": "Valid values:"
        },
        "gcpInfo": {
          "$ref": "#/definitions/typesGCPInfo"
        },
        "awsInfo": {
          "$ref": "#/definitions/typesAWSInfo"
        },
        "azureInfo": {
          "$ref": "#/definitions/typesAzureInfo",
          "description": "TBD."
        }
      },
      "description": "Request message for the CreateEnvironment rpc."
    },
    "v1CreateEnvironmentResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "operation": {
          "$ref": "#/definitions/vortexprototypesOperation"
        }
      },
      "description": "Response message for the CreateEnvironment rpc."
    },
    "v1DeleteEnvironmentResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Response message for the DeleteEnvironment rpc."
    },
    "v1DoRequest": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        }
      },
      "description": "Request message for the Do rpc."
    },
    "v1DoResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        }
      },
      "description": "Response message for the Do rpc."
    },
    "v1GetEnvironmentResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Response message for the GetEnvironment rpc."
    },
    "v1ListEnvironmentsResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Response message for the ListEnvironments rpc."
    },
    "v1ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vortexprototypesOperation"
          }
        },
        "nextToken": {
          "type": "string"
        }
      },
      "description": "Response message for the ListOperations rpc."
    },
    "v1LoginRequest": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "Optional. If set, use to call user profile."
        },
        "id": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "deviceAuth": {
          "type": "string",
          "description": "Optional. If non-empty, do a device auth flow."
        }
      },
      "description": "Request message for the Login rpc."
    },
    "v1LoginResponse": {
      "type": "object",
      "properties": {
        "deviceAuth": {
          "$ref": "#/definitions/LoginResponseDeviceAuth"
        },
        "accessToken": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/rpcStatus"
        }
      },
      "description": "Response message for the Login rpc."
    },
    "v1WhoAmIResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "description": "Request message for the WhoAmI rpc."
    },
    "vortexprototypesLocation": {
      "type": "object",
      "properties": {
        "activeZone": {
          "type": "string",
          "description": "If set, prioritize over active region."
        },
        "activeRegion": {
          "type": "string",
          "description": "Valid only when active zone is not set."
        },
        "passiveZone": {
          "type": "string",
          "description": "If set, prioritize over passive region."
        },
        "passiveRegion": {
          "type": "string",
          "description": "Valid only when passive zone is not set."
        }
      }
    },
    "vortexprototypesOperation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "$ref": "#/definitions/protobufAny",
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable."
        },
        "error": {
          "$ref": "#/definitions/rpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "$ref": "#/definitions/protobufAny",
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call."
    }
  }
}
